# Переименовать в "config.py"
db = {"host": "localhost",
        "user": "username",
        "password": "very_hard_pass",
        "database": "db"}
tg_info = {'access_token': 'tg_api_token', 'url':'https://api.telegram.org/'}
openweathermap_key = None

